<div class="home2-H58" id="1:67">
    <div class="auto-group-zyhp-WyU" id="VEE4Lrq8CfZ2xCA85AzyHp">
    <div class="rectangle-15-R6n" id="1:68"></div>
    <div class="rectangle-20-H8z" id="47:10"></div>
    <div class="rectangle-11-CWr" id="1:77"></div>
    <p class="for-partners-TBt" id="1:71">For Partners</p>
    <p class="search-Hwc" id="1:72">Search</p>
    <p class="log-in-Pjk" id="1:73">Log In</p>
    <p class="how-it-works-Vnn" id="1:74">How It Works</p>
    <p class="en-bqp" id="1:75">EN</p>
    <p class="contact-us-v7Q" id="1:76">Contact Us</p>
    <img class="ep-arrow-up-D6W" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="1:79"/>
    <img class="ep-arrow-up-i3G" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="1:83"/>
    <p class="as-exchangers-of-kindness-we-trade-in-the-currency-of-compassion-ceS" id="1:86">
    <span class="as-exchangers-of-kindness-we-trade-in-the-currency-of-compassion-ceS-sub-0">As </span>
    <span class="as-exchangers-of-kindness-we-trade-in-the-currency-of-compassion-ceS-sub-1">exchangers </span>
    <span class="as-exchangers-of-kindness-we-trade-in-the-currency-of-compassion-ceS-sub-2">of kindness, we trade in the currency of compassion.</span>
    </p>
    <p class="together-we-form-a-mosaic-of-exchange-where-each-piece-contributes-to-the-vibrant-portrait-of-our-interconnected-lives-as-mindful-exchangers-6zr" id="1:88">Together, we form a mosaic of exchange, where each piece contributes to the vibrant portrait of our interconnected lives as mindful exchangers.</p>
    <img class="international-trade-cuate-K6v" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="2:5142"/>
    <p class="youdoo-RQr" id="2:5143">YouDoo</p>
    <div class="group-38-v6i" id="101:5946">
    <div class="auto-group-yj42-n8v" id="VEE54knywV1QPrdjRryj42">
    <p class="our-vision-2JA" id="101:5949">
    <span class="our-vision-2JA-sub-0">Our </span>
    <span class="our-vision-2JA-sub-1">Vision</span>
    </p>
    <p class="a-world-where-impactful-actions-speak-louder-than-words-simplicity-prevails-over-stress-and-human-connections-drive-positive-change-7U2" id="175:3713">&#34;A world where impactful actions speak louder than words, simplicity prevails over stress, and human connections drive positive change.&#34;</p>
    </div>
    <p class="for-exchangers-76e" id="101:5962">
    <span class="for-exchangers-76e-sub-0">For </span>
    <span class="for-exchangers-76e-sub-1">Exchangers</span>
    </p>
    <div class="auto-group-yrhy-So8" id="VEE5E5rmisurr6WGpoYRhY">
    <p class="we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-Z74" id="101:5959">We believe in the power of collective impact. Each donation, plays a vital role in building a community of change. Thank you for being part of our story.</p>
    <img class="international-trade-pana-CA2" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="86:5018"/>
    </div>
    <div class="auto-group-kjtl-WwQ" id="VEE5NuwPoX8DjrhrgUkjTL">Wanna share our values ?</div>
    <div class="auto-group-sflz-Han" id="VEE5VaQxWELqCtKxY1SfLz">
    <p class="why-choose-us--mF4" id="101:5963">
    <span class="why-choose-us--mF4-sub-0">WHY CHOOSE </span>
    <span class="why-choose-us--mF4-sub-1">US</span>
    <span class="why-choose-us--mF4-sub-2"></span>
    <span class="why-choose-us--mF4-sub-3">?</span>
    </p>
    <p class="isnt-our-mojo-quite-the-charmer-q1x" id="101:5960">Isn&#39;t our mojo quite the charmer?</p>
    </div>
    </div>
    <img class="ep-arrow-up-Jw8" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="1:59"/>
    </div>
    <p class="our-partners-CWi" id="101:5967">
    <span class="our-partners-CWi-sub-0">OUR </span>
    <span class="our-partners-CWi-sub-1">PARTNERS</span>
    </p>
    <div class="auto-group-pklj-miE" id="VEE8yJx9oeQCEooATrPKLJ">
    <div class="group-3465061-foc" id="250:30802">
    <div class="group-39-Ze6" id="101:5998">
    <div class="auto-group-pxqg-6P8" id="VEE9bTaaxoQTjz3m7zpXqg">
    <div class="auto-group-rfmg-PNE" id="VEE9ihsWeivrMuHeSLRFmg">
    <img class="image-1-Dtz" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6009"/>
    </div>
    <p class="unicef-5gJ" id="101:6002">UNICEF</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-ZLa" id="101:6005">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-bxg6-QMC" id="VEE9scnL1pktr5S4DZBxg6">
    <img class="image-2-F6v" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6011"/>
    <p class="tunisian-red-crescent-kJa" id="101:6003">Tunisian Red Crescent</p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-2fQ" id="101:6006">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-v3se-fCa" id="VEEA4hJCkragkz9wzvV3Se">
    <img class="image-3-MLJ" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6010"/>
    <p class="world-food-programme-5XC" id="101:6004">World Food Programme</p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-mQ2" id="101:6007">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    </div>
    </div>
    <div class="group-40-1ZG" id="101:6012">
    <div class="group-32-76W" id="101:6013">
    <div class="rectangle-57-R7C" id="101:6014"></div>
    <div class="rectangle-59-Xvv" id="101:6015"></div>
    <div class="rectangle-58-fGS" id="101:6016"></div>
    <p class="save-the-children-xFY" id="101:6017">Save The Children</p>
    <p class="action-against-hunger-326" id="101:6018">Action Against Hunger</p>
    <p class="no-kid-hungry-7Xk" id="101:6019">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-xHU" id="101:6020">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-Q9U" id="101:6021">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-U9L" id="101:6022">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-XdQ" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6023"/>
    <img class="image-3-dwL" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6024"/>
    <img class="image-4-K3U" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6025"/>
    </div>
    <div class="group-33-qGi" id="101:6026">
    <div class="rectangle-57-k8n" id="101:6027"></div>
    <div class="rectangle-59-sjC" id="101:6028"></div>
    <div class="rectangle-58-QDL" id="101:6029"></div>
    <p class="save-the-children-jWW" id="101:6030">Save The Children</p>
    <p class="action-against-hunger-1iv" id="101:6031">Action Against Hunger</p>
    <p class="no-kid-hungry-rUe" id="101:6032">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-Luc" id="101:6033">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-HyG" id="101:6034">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-A1U" id="101:6035">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-n2r" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6036"/>
    <img class="image-3-HkJ" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6037"/>
    <img class="image-4-pVL" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:6038"/>
    </div>
    </div>
    </div>
    <p class="connect-with-us-x5k" id="101:5964">
    <span class="connect-with-us-x5k-sub-0">CONNECT WITH</span>
    <span class="connect-with-us-x5k-sub-1"></span>
    <span class="connect-with-us-x5k-sub-2">US</span>
    <span class="connect-with-us-x5k-sub-3"></span>
    </p>
    <div class="auto-group-hhnn-S2r" id="VEE5nQGFpvcj4HGs1vHHNN">
    <div class="auto-group-ywhp-8wG" id="VEE61UioNyCuD6gaxLywhp">
    <p class="get-the-latest-updates-and-notification-5bc" id="101:5965">Get the latest updates and notification</p>
    <p class="subscribe-to-our-newsletter-and-get-to-know-about-the-latest-updates-on-our-services-CgE" id="101:5966">Subscribe to our newsletter and get to know about the latest updates on our services</p>
    </div>
    <p class="exchangers-of-goodwill-turn-simple-moments-into-valuable-acts-of-connection-tox" id="101:5961">
    <span class="exchangers-of-goodwill-turn-simple-moments-into-valuable-acts-of-connection-tox-sub-0">&#34;</span>
    <span class="exchangers-of-goodwill-turn-simple-moments-into-valuable-acts-of-connection-tox-sub-1">Exchangers</span>
    <span class="exchangers-of-goodwill-turn-simple-moments-into-valuable-acts-of-connection-tox-sub-2">
    of goodwill turn simple moments into valuable acts of connection.&#34;
    
    <br/>
    </span>
    </p>
    </div>
    <div class="auto-group-x41k-hQ2" id="VEE6A4JqcEaDKd3h3PX41k">
    <p class="entre-your-email-ngN" id="101:5968">Entre your email</p>
    <div class="auto-group-ywul-fkA" id="VEE6NtGoJuKLhCcwDBYWuL">Subscribe</div>
    </div>
    </div>
    <div class="auto-group-mf6e-Uhc" id="VEE6ViQkaXmKM48guoMF6E">
    <div class="auto-group-k6mk-AKY" id="VEE6jsfppYMNDEq9rJK6Mk">
    <div class="footer-div" id="101:5976">
    <div class="auto-group-u5zn-ZMg" id="VEE75HH9wThRTS5fx5U5zN">
    <div class="auto-group-ef1g-UUe" id="VEE7UGcrG7VqDNyikFeF1g">
    <p class="youdoo-zxn" id="101:5980">YouDoo</p>
    <p class="follow-us-i86" id="101:5981">Follow Us</p>
    </div>
    <div class="auto-group-gpen-czA" id="VEE7Ewfirh4cHKjX3CGPEN">
    <img class="vector-NCe" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5982"/>
    <img class="vector-sfC" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5983"/>
    <img class="auto-group-iixy-b5Q" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="VEE7MGpWRZpVNhaKCYiiXY"/>
    </div>
    </div>
    <div class="auto-group-cwij-urn" id="VEE7gRwFh7KVqezMXhCWiJ">
    <p class="navigation-Rq8" id="101:5977">
    Navigation
    
    <br/>
    </p>
    <p class="contact-us-xKG" id="101:5986">Contact Us</p>
    <p class="association-UoQ" id="101:5990">Association</p>
    <p class="connexion-CjQ" id="101:5992">Connexion</p>
    </div>
    <div class="auto-group-61ux-8d4" id="VEE7qWWTd8NuWf2RA161ux">
    <p class="help-4Wi" id="101:5978">Help</p>
    <p class="faq-xc6" id="101:5987">FAQ</p>
    <p class="term-of-use-Gcn" id="101:5991">Term of use</p>
    <p class="privacy-policy-QDC" id="101:5993">Privacy Policy</p>
    </div>
    <div class="auto-group-ilby-K5G" id="VEE7yWH8sBSSUHmjnEiLBY">
    <p class="contact-us-42r" id="101:5979">Contact Us</p>
    <p class="email-adress--BNN" id="101:5988">Email Adress :</p>
    <p class="phone--uJN" id="101:5989">Phone :</p>
    </div>
    </div>
    <p class="youdoogmailcom-S3Q" id="101:5994">youdoogmail.com</p>
    <p class="item-216-22-66-88-77-JLW" id="101:5995">(216) 22 66 88 77</p>
    </div>
    <div class="line-3-Z1Y" id="101:5997"></div>
    <p class="copyright-2024-all-rights-reserved-UPQ" id="101:5996">
    <span class="copyright-2024-all-rights-reserved-UPQ-sub-0">Copyright © 2024, All rights reserved</span>
    <span class="copyright-2024-all-rights-reserved-UPQ-sub-1"></span>
    </p>
    </div>
    </div>
