<div class="home-3-wdY" id="79:2371">
    <div class="auto-group-mbot-B26" id="VEDtEyzg8t7KWD4CTsmbot">
    <div class="rectangle-19-VKc" id="47:2"></div>
    <div class="rectangle-11-BTL" id="1:55"></div>
    <div class="rectangle-15-52v" id="1:46"></div>
    <p class="youdoo-bX4" id="1:48">YouDoo</p>
    <p class="for-partners-UKx" id="1:49">For Partners</p>
    <p class="search-MuY" id="1:50">Search</p>
    <p class="log-in-GFp" id="1:51">Log In</p>
    <p class="how-it-works-B7t" id="1:52">How It Works</p>
    <p class="en-fYr" id="1:53">EN</p>
    <p class="contact-us-y3k" id="1:54">Contact Us</p>
    <img class="ep-arrow-up-5Mg" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="1:57"/>
    <img class="ep-arrow-up-B9p" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="1:61"/>
    <p class="in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL" id="1:64">
    <span class="in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-0">In times of need, </span>
    <span class="in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-1">a seeker</span>
    <span class="in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-2"></span>
    <span class="in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-3">
    of strength becomes
    
    <br/>
    a beacon of resilience.
    
    </span>
    </p>
    <p class="we-stand-together-shoulder-to-shoulder-as-we-embrace-the-strength-in-seeking-and-receiving-help-Vbk" id="1:66">We stand together, shoulder to shoulder, as we embrace the strength in seeking and receiving help.</p>
    <img class="humanitarian-help-cuate-Y4E" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="2:2076"/>
    <img class="overwhelmed-amico-esx" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="86:3034"/>
    <div class="group-36-nDU" id="101:5166">
    <div class="auto-group-73xi-u3C" id="VEDu8dBJ5PYZNB8UqE73xi">
    <p class="our-mission-yYr" id="101:5169">
    <span class="our-mission-yYr-sub-0">Our </span>
    <span class="our-mission-yYr-sub-1">Mission</span>
    </p>
    <div class="auto-group-fkfl-vcW" id="VEDuLnVhWPNDzT97cffKfL">
    <p class="item-01-TMY" id="101:5170">01</p>
    <p class="item-02-Wz2" id="101:5177">02</p>
    <p class="item-03-FAv" id="101:5178">03</p>
    </div>
    <div class="auto-group-jenj-YA2" id="VEDuUhSBTyp5MfwcKMjEnJ">
    <p class="foster-human-connections-pNS" id="101:5171">Foster Human Connections</p>
    <p class="inspire-impactful-actions-7cS" id="101:5175">Inspire Impactful Actions</p>
    <p class="simplify-engagement-p14" id="101:5176">Simplify Engagement</p>
    </div>
    <div class="auto-group-y8sg-KiW" id="VEDueGzZ6kZab9edUvy8sg">
    <p class="cultivate-a-community-where-human-connections-flourish-promoting-empathy-collaboration-and-a-shared-commitment-to-making-a-difference-Gdk" id="101:5172">
    Cultivate a community where human connections flourish, promoting empathy, collaboration, and a shared commitment to making a difference.
    
    <br/>
    </p>
    <p class="encourage-and-enable-individuals-to-take-meaningful-actions-that-contribute-to-positive-change-in-their-communities-and-beyond-vCW" id="101:5173">
    Encourage and enable individuals to take meaningful actions that contribute to positive change in their communities and beyond.
    
    <br/>
    </p>
    <p class="provide-a-user-friendly-and-stress-free-platform-that-simplifies-the-donation-process-making-it-accessible-to-everyone-BeE" id="101:5174">Provide a user-friendly and stress-free platform that simplifies the donation process, making it accessible to everyone.</p>
    </div>
    </div>
    <p class="for-seekers-3gS" id="101:5182">
    <span class="for-seekers-3gS-sub-0">For </span>
    <span class="for-seekers-3gS-sub-1">Seekers</span>
    </p>
    <p class="we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-DUS" id="101:5179">We believe in the power of collective impact. Each donation, plays a vital role in building a community of change. Thank you for being part of our story.</p>
    <div class="auto-group-wygw-4V4" id="VEDux6pBpxDfZVwT3NWYgW">Get help ASAP</div>
    <div class="auto-group-whe6-6ge" id="VEDv3gVDqhSQKAGotpwHe6">
    <p class="why-choose-us--CDt" id="101:5183">
    <span class="why-choose-us--CDt-sub-0">WHY CHOOSE </span>
    <span class="why-choose-us--CDt-sub-1">US</span>
    <span class="why-choose-us--CDt-sub-2"></span>
    <span class="why-choose-us--CDt-sub-3">?</span>
    </p>
    <p class="isnt-our-mojo-quite-the-charmer-ate" id="101:5180">Isn&#39;t our mojo quite the charmer?</p>
    </div>
    </div>
    </div>
    <p class="our-partners-TSe" id="101:5187">
    <span class="our-partners-TSe-sub-0">OUR </span>
    <span class="our-partners-TSe-sub-1">PARTNERS</span>
    </p>
    <div class="auto-group-fovw-SZU" id="VEDyjufbhwnAM1XxJHfovW">
    <div class="group-3465062-YcW" id="250:30804">
    <div class="group-37-fSE" id="101:5741">
    <div class="auto-group-ktaa-zUW" id="VEDzFydq9bsbY3nEZiKtaa">
    <div class="auto-group-ndmx-JEJ" id="VEDzP96ZZ4nJZZ5HxWNDMx">
    <img class="image-1-1Pc" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5752"/>
    </div>
    <p class="unicef-i38" id="101:5745">UNICEF</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-oKU" id="101:5748">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-r8zi-FhG" id="VEDzWDj6g55KzeRXRkr8zi">
    <img class="image-2-ZCA" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5754"/>
    <p class="tunisian-red-crescent-GsG" id="101:5746">Tunisian Red Crescent</p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-MNv" id="101:5749">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-9eia-yv6" id="VEDzeTzMmVyujX1Kpd9eiA">
    <img class="image-3-HQz" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5753"/>
    <p class="world-food-programme-cCN" id="101:5747">World Food Programme</p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-6dL" id="101:5750">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    </div>
    </div>
    <div class="group-37-x9k" id="101:5782">
    <div class="group-32-Utn" id="101:5783">
    <div class="rectangle-57-nuU" id="101:5784"></div>
    <div class="rectangle-59-KeW" id="101:5785"></div>
    <div class="rectangle-58-ruL" id="101:5786"></div>
    <p class="save-the-children-PuG" id="101:5787">Save The Children</p>
    <p class="action-against-hunger-6Yn" id="101:5788">Action Against Hunger</p>
    <p class="no-kid-hungry-ayk" id="101:5789">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-HtA" id="101:5790">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-ZKt" id="101:5791">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-2UN" id="101:5792">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-6DL" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5793"/>
    <img class="image-3-CXG" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5794"/>
    <img class="image-4-K66" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5795"/>
    </div>
    <div class="group-33-FEe" id="101:5796">
    <div class="rectangle-57-YzS" id="101:5797"></div>
    <div class="rectangle-59-VPt" id="101:5798"></div>
    <div class="rectangle-58-Dqg" id="101:5799"></div>
    <p class="save-the-children-Ysx" id="101:5800">Save The Children</p>
    <p class="action-against-hunger-qMG" id="101:5801">Action Against Hunger</p>
    <p class="no-kid-hungry-7pa" id="101:5802">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-E8W" id="101:5803">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-tTx" id="101:5804">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-XfL" id="101:5805">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-nrA" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5806"/>
    <img class="image-3-uQz" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5807"/>
    <img class="image-4-ReE" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5808"/>
    </div>
    </div>
    </div>
    <p class="connect-with-us-wca" id="101:5184">
    <span class="connect-with-us-wca-sub-0">CONNECT WITH</span>
    <span class="connect-with-us-wca-sub-1"></span>
    <span class="connect-with-us-wca-sub-2">US</span>
    <span class="connect-with-us-wca-sub-3"></span>
    </p>
    <div class="auto-group-4zs2-6GW" id="VEDvXarPuRY65TwcA74zS2">
    <div class="auto-group-of74-piJ" id="VEDvmQnh1bfQZzrmQRoF74">
    <p class="get-the-latest-updates-and-notification-MiE" id="101:5185">Get the latest updates and notification</p>
    <p class="subscribe-to-our-newsletter-and-get-to-know-about-the-latest-updates-on-our-services-46r" id="101:5186">Subscribe to our newsletter and get to know about the latest updates on our services</p>
    <div class="auto-group-ymft-XFL" id="VEDvuaDkpZxJiTVjskYMft">
    <p class="entre-your-email-Rbc" id="101:5188">Entre your email</p>
    <div class="auto-group-p79g-w4A" id="VEDvzKaqzj2DXzNqVmP79G">Subscribe</div>
    </div>
    </div>
    <p class="every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki" id="101:5181">
    <span class="every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-0">&#34;Every</span>
    <span class="every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-1"> seeker</span>
    <span class="every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-2">
    , in moments of vulnerability, discovers the profound strength in accepting help. Your courage is truly inspiring.&#34;
    
    <br/>
    </span>
    </p>
    </div>
    </div>
    <div class="auto-group-uv9p-ZdG" id="VEDwM4VHezDCGnkaNFUV9p">
    <div class="auto-group-xykt-s8A" id="VEDwXogPGBaFp3hATSXyKt">
    <div class="footer-mzE" id="101:5719">
    <div class="auto-group-3mre-VfL" id="VEDwsiGt5rcQcice6V3MrE">
    <div class="auto-group-bvxx-pBp" id="VEDxFx8prNsg2x1FamBvXx">
    <p class="youdoo-Y7p" id="101:5723">YouDoo</p>
    <p class="follow-us-FY2" id="101:5724">Follow Us</p>
    </div>
    <div class="auto-group-kt8a-Nce" id="VEDx3xUozJHNbVtGeQkT8a">
    <img class="vector-v8N" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5725"/>
    <img class="vector-3yg" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5726"/>
    <img class="auto-group-vzej-Ba6" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="VEDx9HfG9ff4ZvP9jEVzeJ"/>
    </div>
    </div>
    <div class="auto-group-bo5x-tzJ" id="VEDxU2d2zv5f4p54SfBo5x">
    <p class="navigation-PAN" id="101:5720">
    Navigation
    
    <br/>
    </p>
    <p class="contact-us-Vz6" id="101:5729">Contact Us</p>
    <p class="association-2UE" id="101:5733">Association</p>
    <p class="connexion-Ljp" id="101:5735">Connexion</p>
    </div>
    <div class="auto-group-iupt-g2z" id="VEDxccD5EBSyBLSAXhiuPt">
    <p class="help-bve" id="101:5721">Help</p>
    <p class="faq-L7Y" id="101:5730">FAQ</p>
    <p class="term-of-use-4JS" id="101:5734">Term of use</p>
    <p class="privacy-policy-yRQ" id="101:5736">Privacy Policy</p>
    </div>
    <div class="auto-group-u1xi-71p" id="VEDxkme939jsKo5912U1xi">
    <p class="contact-us-qTc" id="101:5722">Contact Us</p>
    <p class="email-adress--Z8i" id="101:5731">Email Adress :</p>
    <p class="phone--sfC" id="101:5732">Phone :</p>
    </div>
    </div>
    <p class="youdoogmailcom-ook" id="101:5737">youdoo@gmail.com</p>
    <p class="item-216-22-66-88-77-JVc" id="101:5738">(216) 22 66 88 77</p>
    </div>
    <div class="line-2-nfg" id="101:5740"></div>
    <p class="copyright-2024-all-rights-reserved-K9p" id="101:5739">
    <span class="copyright-2024-all-rights-reserved-K9p-sub-0">Copyright © 2024, All rights reserved</span>
    <span class="copyright-2024-all-rights-reserved-K9p-sub-1"></span>
    </p>
    </div>
    </div>
