.home-3-wdY {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .auto-group-mbot-B26 {
      flex-shrink: 0;
      height: 351rem;
      margin-bottom: 4.1rem;
      position: relative;
      width: 100%;
  
      .rectangle-19-VKc {
        background-color: rgba(255, 211, 176, 0.6200000048);
        height: 111.7rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 144rem;
      }
      .rectangle-11-BTL {
        background-color: #f9b075;
        border: solid 0.2rem #ffd3b0;
        border-radius: 2.6rem;
        box-sizing: border-box;
        height: 3.4rem;
        left: 122rem;
        position: absolute;
        top: 8.6rem;
        width: 13.3rem;
      }
      .rectangle-15-52v {
        background-color: #fff7f0;
        border-radius: 5.3rem;
        height: 7.6rem;
        left: 11.5rem;
        position: absolute;
        top: 6.4rem;
        width: 100.8rem;
      }
      .youdoo-bX4 {
        color: #ffd3b0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.2rem;
        font-weight: 800;
        height: 3.9rem;
        left: 57.2rem;
        line-height: 1.2125;
        position: absolute;
        text-align: center;
        top: 8.4rem;
        white-space: nowrap;
        width: 12.3rem;
      }
      .for-partners-UKx {
        color: rgba(14, 14, 14, 0.3199999928);
        cursor: pointer;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 33.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.2rem;
        white-space: nowrap;
        width: 11.2rem;
      }
      .search-MuY {
        color: rgba(14, 14, 14, 0.4199999869);
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 19rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.3rem;
        white-space: nowrap;
        width: 6.3rem;
      }
      .log-in-GFp {
        color: rgba(14, 14, 14, 0.4199999869);
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 100.9rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.2rem;
        white-space: nowrap;
        width: 5.6rem;
      }
      .how-it-works-B7t {
        color: rgba(14, 14, 14, 0.4199999869);
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 79.8rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.2rem;
        white-space: nowrap;
        width: 12rem;
      }
      .en-fYr {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 115rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.3rem;
        white-space: nowrap;
        width: 2.6rem;
      }
      .contact-us-y3k {
        color: #000000;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 500;
        height: 2.4rem;
        left: 123.5rem;
        line-height: 1.1725;
        position: absolute;
        top: 9.3rem;
        white-space: nowrap;
        width: 9.9rem;
      }
      .ep-arrow-up-5Mg {
        height: 0.5746rem;
        left: 118.2916rem;
        object-fit: contain;
        position: absolute;
        top: 9.9682rem;
        vertical-align: top;
        width: 1.0168rem;
      }
      .ep-arrow-up-B9p {
        cursor: pointer;
        height: 4.7rem;
        left: 2.1rem;
        object-fit: contain;
        position: absolute;
        top: 45.7rem;
        vertical-align: top;
        width: 3.6rem;
      }
      .in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 600;
        height: 22rem;
        left: 9.3rem;
        line-height: 1.2175;
        position: absolute;
        top: 32.4rem;
        width: 80.2rem;
  
        .in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-0 {
        }
        .in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-1 {
          color: #fab076;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-2 {
          color: #ffd3b0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .in-times-of-need-a-seeker-of-strength-becomes-a-beacon-of-resilience-JVL-sub-3 {
        }
      }
      .we-stand-together-shoulder-to-shoulder-as-we-embrace-the-strength-in-seeking-and-receiving-help-Vbk {
        color: rgba(14, 14, 14, 0.3100000024);
        font-family: Plus Jakarta Sans, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 600;
        height: 6.4rem;
        left: 11.5rem;
        line-height: 1.6;
        position: absolute;
        top: 55.436rem;
        width: 57.6rem;
      }
      .humanitarian-help-cuate-Y4E {
        height: 39.6104rem;
        left: 75rem;
        object-fit: contain;
        position: absolute;
        top: 42.2688rem;
        vertical-align: top;
        width: 69rem;
      }
      .overwhelmed-amico-esx {
        height: 74.3656rem;
        left: 69.7rem;
        object-fit: contain;
        position: absolute;
        top: 183.7rem;
        vertical-align: top;
        width: 68.6rem;
      }
      .group-36-nDU {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 253.3rem;
        left: 0;
        position: absolute;
        top: 97.7rem;
        width: 207.8rem;
  
        .auto-group-73xi-u3C {
          align-items: center;
          background-image: url('/api/prod-us-east-2-first-cluster/projects/TQ6pFHmXuwKwJ5A4oNxRSH/files/vector/ba013198f982d08fe3f0d9c2957254159ddcee3a0af7ccd52afdf10b12e65508a031781b5d6b5cbd2d7b10ba1b7ce8e7f930c3c9b2351fb86874d84bb833619f?hash=5b4d4d42bf1f74183c4819c2c7dfeceead1cec6c597ad0b22d40bc1e516f6a25');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 11.9rem 7.8rem 0rem;
          padding: 11rem 40.249rem 11.7rem 45rem;
          width: 195.9rem;
  
          .our-mission-yYr {
            align-items: baseline;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 700;
            letter-spacing: -0.5rem;
            line-height: 1.2025;
            margin: 0rem 80.951rem 9.1rem 0rem;
            white-space: nowrap;
  
            .our-mission-yYr-sub-0 {
            }
            .our-mission-yYr-sub-1 {
              color: #d98849;
              font-family: Sen, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 700;
              letter-spacing: -0.5rem;
              line-height: 1.2025;
            }
          }
          .auto-group-fkfl-vcW {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin: 0rem 24.189rem 5.3rem 0rem;
  
            .item-01-TMY {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 7.2rem;
              font-weight: 700;
              letter-spacing: -0.5rem;
              line-height: 1.2025;
              margin-right: 30.6311rem;
              white-space: nowrap;
            }
            .item-02-Wz2 {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 7.2rem;
              font-weight: 700;
              letter-spacing: -0.5rem;
              line-height: 1.2025;
              margin-right: 30.7317rem;
              white-space: nowrap;
            }
            .item-03-FAv {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 7.2rem;
              font-weight: 700;
              letter-spacing: -0.5rem;
              line-height: 1.2025;
              white-space: nowrap;
            }
          }
          .auto-group-jenj-YA2 {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin: 0rem 9.424rem 2.85rem 0rem;
  
            .foster-human-connections-pNS {
              color: #d98849;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 800;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin: 0rem 10.997rem 0.05rem 0rem;
              white-space: nowrap;
            }
            .inspire-impactful-actions-7cS {
              color: #d98849;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 800;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin: 0.05rem 11.831rem 0rem 0rem;
              white-space: nowrap;
            }
            .simplify-engagement-p14 {
              color: #d98849;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 800;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin-top: 0.0502rem;
              white-space: nowrap;
            }
          }
          .auto-group-y8sg-KiW {
            align-items: center;
            display: flex;
            flex-shrink: 0;
            margin-left: 0.2014rem;
  
            .cultivate-a-community-where-human-connections-flourish-promoting-empathy-collaboration-and-a-shared-commitment-to-making-a-difference-Gdk {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              margin-right: 5.05rem;
              max-width: 32.7rem;
              text-align: center;
            }
            .encourage-and-enable-individuals-to-take-meaningful-actions-that-contribute-to-positive-change-in-their-communities-and-beyond-vCW {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              margin-right: 7.1rem;
              max-width: 32.6rem;
              text-align: center;
            }
            .provide-a-user-friendly-and-stress-free-platform-that-simplifies-the-donation-process-making-it-accessible-to-everyone-BeE {
              color: #000000;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              max-width: 33rem;
              text-align: center;
            }
          }
        }
        .for-seekers-3gS {
          align-items: baseline;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 600;
          line-height: 1.2175;
          margin: 0rem 73.5rem 8.6rem 0rem;
          white-space: nowrap;
  
          .for-seekers-3gS-sub-0 {
          }
          .for-seekers-3gS-sub-1 {
            color: #fab076;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 9.6rem;
            font-weight: 600;
            line-height: 1.2175;
          }
        }
        .we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-DUS {
          color: rgba(14, 14, 14, 0.3100000024);
          flex-shrink: 0;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 0.8888888889;
          margin: 0rem 62.7rem 42.3rem 0rem;
          max-width: 57.1rem;
        }
        .auto-group-wygw-4V4 {
          align-items: center;
          background-color: #ffd3b0;
          border-radius: 1.2rem;
          color: #ffffff;
          display: flex;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2.3042rem;
          font-weight: 600;
          height: 6rem;
          justify-content: center;
          line-height: 1.2175;
          margin: 0rem 119.1rem 17.6rem 54.4rem;
          text-align: right;
          white-space: nowrap;
          width: calc(100% - 173.5rem);
        }
        .auto-group-whe6-6ge {
          align-items: center;
          background-image: url('/api/prod-us-east-2-first-cluster/projects/TQ6pFHmXuwKwJ5A4oNxRSH/files/vector/e2ae498d471e0096a6f45a8a015d69c086ab03fe24d2c6e261974a5d095892ed91e1f04db6c29557c89c13b613c20c717410b2a67a181214ca7f7f5ca5972d97?hash=19dcc575ab923217de56906258ad84d000568717f497d4cf91c24866a958c66d');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 3.8rem;
          padding: 8.4rem 48.25rem 28.6rem 44.45rem;
          width: 204rem;
  
          .why-choose-us--CDt {
            align-items: baseline;
            color: #000000;
            display: flex;
            flex-shrink: 0;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 1.2175;
            margin: 0rem 9.7rem 10.1rem 0rem;
            white-space: nowrap;
  
            .why-choose-us--CDt-sub-0 {
              color: #000000;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 600;
              line-height: 1.2175;
            }
            .why-choose-us--CDt-sub-1 {
              color: #da8949;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 600;
              line-height: 1.2175;
            }
            .why-choose-us--CDt-sub-2 {
              color: #1d7691;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 6.4rem;
              font-weight: 600;
              line-height: 1.2175;
            }
            .why-choose-us--CDt-sub-3 {
            }
          }
          .isnt-our-mojo-quite-the-charmer-ate {
            color: #000000;
            flex-shrink: 0;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            font-size: 10rem;
            font-weight: 600;
            line-height: 1.02;
            max-width: 111.3rem;
            text-align: center;
          }
        }
      }
    }
    .our-partners-TSe {
      align-items: baseline;
      color: #000000;
      display: flex;
      flex-shrink: 0;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      line-height: 1.2175;
      margin-left: 2.2rem;
      white-space: nowrap;
  
      .our-partners-TSe-sub-0 {
      }
      .our-partners-TSe-sub-1 {
        color: #fab076;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .auto-group-fovw-SZU {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 10.1rem 0rem 13.5rem 9.5rem;
      width: 100%;
  
      .group-3465062-YcW {
        flex-shrink: 0;
        height: 49rem;
        margin: 0rem 0rem 26.8rem 0.5rem;
        position: relative;
        width: 412.15rem;
  
        .group-37-fSE {
          align-items: center;
          display: flex;
          height: 49rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 123.2rem;
  
          .auto-group-ktaa-zUW {
            align-items: center;
            background-color: #fab076;
            border-radius: 1.6rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            margin-right: 2.6rem;
            padding: 3.5rem 4.15rem 7.8rem 5.55rem;
            width: 39.3rem;
  
            .auto-group-ndmx-JEJ {
              background-color: #ffffff;
              border-radius: 1.2rem;
              flex-shrink: 0;
              margin: 0rem 6.45rem 2.8rem 4.95rem;
              width: calc(100% - 11.4rem);
  
              .image-1-1Pc {
                border-radius: 1.2rem;
                height: 18.2rem;
                object-fit: cover;
                vertical-align: top;
                width: 18.2rem;
              }
            }
            .unicef-i38 {
              color: #2b2b39;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin: 0rem 1.4rem 3.6rem 0rem;
              text-align: center;
              white-space: nowrap;
            }
            .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-oKU {
              color: #5f5f75;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              max-width: 29.6rem;
              text-align: center;
            }
          }
          .auto-group-r8zi-FhG {
            align-items: center;
            background-color: #fab076;
            border-radius: 1.6rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            margin-right: 2.7rem;
            padding: 3.4rem 5.25rem 6.8rem 7.65rem;
            width: 39.3rem;
  
            .image-2-ZCA {
              flex-shrink: 0;
              height: 18.4rem;
              margin: 0rem 0.5rem 1rem 0rem;
              object-fit: cover;
              vertical-align: top;
              width: 18.4rem;
            }
            .tunisian-red-crescent-GsG {
              color: #2b2b39;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin: 0rem 0.2rem 2rem 0rem;
              max-width: 19.9rem;
              text-align: center;
            }
            .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-MNv {
              color: #5f5f75;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              max-width: 26.4rem;
              text-align: center;
            }
          }
          .auto-group-9eia-yv6 {
            align-items: center;
            background-color: #fab076;
            border-radius: 1.6rem;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            padding: 3.5rem 2.45rem 6.8rem 2.45rem;
            width: 39.3rem;
  
            .image-3-HQz {
              flex-shrink: 0;
              height: 19.2rem;
              margin-bottom: 0.1rem;
              object-fit: cover;
              vertical-align: top;
              width: 18.9rem;
            }
            .world-food-programme-cCN {
              color: #2b2b39;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              margin: 0rem 4.8rem 2rem 0rem;
              max-width: 18.7rem;
              text-align: center;
            }
            .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-6dL {
              color: #5f5f75;
              flex-shrink: 0;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 1.2025;
              margin-right: 4.8rem;
              max-width: 29.6rem;
              text-align: center;
            }
          }
        }
        .group-37-x9k {
          height: 49rem;
          left: 94.45rem;
          position: absolute;
          top: 0;
          width: 317.7rem;
  
          .group-32-Utn {
            height: 49rem;
            left: 0;
            position: absolute;
            top: 0;
            width: 182.8rem;
  
            .rectangle-57-nuU {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 35.55rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .rectangle-59-KeW {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 77.45rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .rectangle-58-ruL {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 119.45rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .save-the-children-PuG {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 41.4rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 24.5rem;
              white-space: nowrap;
              width: 27.6rem;
            }
            .action-against-hunger-6Yn {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 80.45rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 22.8rem;
              white-space: nowrap;
              width: 35.5rem;
            }
            .no-kid-hungry-ayk {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 125.2rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 22.8rem;
              white-space: nowrap;
              width: 23rem;
            }
            .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-HtA {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 0;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 32.5rem;
              white-space: nowrap;
              width: 111.8rem;
            }
            .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-ZKt {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 53.45rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 33.5rem;
              white-space: nowrap;
              width: 89.7rem;
            }
            .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-2UN {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 90.6rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 33.5rem;
              white-space: nowrap;
              width: 92.2rem;
            }
            .image-1-6DL {
              border-radius: 1.2rem;
              height: 18.2rem;
              left: 46.15rem;
              object-fit: cover;
              position: absolute;
              top: 3.4rem;
              vertical-align: top;
              width: 18.2rem;
            }
            .image-3-CXG {
              border-radius: 1.2rem;
              height: 13.3rem;
              left: 125.05rem;
              object-fit: cover;
              position: absolute;
              top: 4.9rem;
              vertical-align: top;
              width: 28.2rem;
            }
            .image-4-K66 {
              height: 13.8rem;
              left: 85.45rem;
              object-fit: cover;
              position: absolute;
              top: 4.4rem;
              vertical-align: top;
              width: 22.9rem;
            }
          }
          .group-33-FEe {
            height: 49rem;
            left: 134.9rem;
            position: absolute;
            top: 0;
            width: 182.8rem;
  
            .rectangle-57-YzS {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 35.55rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .rectangle-59-VPt {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 77.45rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .rectangle-58-Dqg {
              background-color: #fab076;
              border-radius: 1.6rem;
              height: 49rem;
              left: 119.45rem;
              position: absolute;
              top: 0;
              width: 39.3rem;
            }
            .save-the-children-Ysx {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 41.4rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 24.5rem;
              white-space: nowrap;
              width: 27.6rem;
            }
            .action-against-hunger-qMG {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 80.45rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 22.8rem;
              white-space: nowrap;
              width: 35.5rem;
            }
            .no-kid-hungry-7pa {
              color: #2b2b39;
              font-family: Sen, 'Source Sans Pro';
              font-size: 3.6rem;
              font-weight: 700;
              height: 4.4rem;
              left: 125.2rem;
              letter-spacing: -0.2rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 22.8rem;
              white-space: nowrap;
              width: 23rem;
            }
            .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-E8W {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 0;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 32.5rem;
              white-space: nowrap;
              width: 111.8rem;
            }
            .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-tTx {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 53.45rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 33.5rem;
              white-space: nowrap;
              width: 89.7rem;
            }
            .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-XfL {
              color: #5f5f75;
              font-family: Sen, 'Source Sans Pro';
              font-size: 1.8rem;
              font-weight: 400;
              height: 2.2rem;
              left: 90.6rem;
              line-height: 1.2025;
              position: absolute;
              text-align: center;
              top: 33.5rem;
              white-space: nowrap;
              width: 92.2rem;
            }
            .image-1-nrA {
              border-radius: 1.2rem;
              height: 18.2rem;
              left: 46.15rem;
              object-fit: cover;
              position: absolute;
              top: 3.4rem;
              vertical-align: top;
              width: 18.2rem;
            }
            .image-3-uQz {
              border-radius: 1.2rem;
              height: 13.3rem;
              left: 125.05rem;
              object-fit: cover;
              position: absolute;
              top: 4.9rem;
              vertical-align: top;
              width: 28.2rem;
            }
            .image-4-ReE {
              height: 13.8rem;
              left: 85.45rem;
              object-fit: cover;
              position: absolute;
              top: 4.4rem;
              vertical-align: top;
              width: 22.9rem;
            }
          }
        }
      }
      .connect-with-us-wca {
        align-items: baseline;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2175;
        margin: 0rem 0rem 0.8rem 0.2rem;
        white-space: nowrap;
  
        .connect-with-us-wca-sub-0 {
        }
        .connect-with-us-wca-sub-1 {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .connect-with-us-wca-sub-2 {
          color: #fab076;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .connect-with-us-wca-sub-3 {
          color: #1d7691;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2175;
        }
      }
      .auto-group-4zs2-6GW {
        align-items: flex-end;
        display: flex;
        flex-shrink: 0;
        margin-right: 6rem;
        width: calc(100% - 6rem);
  
        .auto-group-of74-piJ {
          flex-shrink: 0;
          margin-right: 3.9rem;
          width: 71.9rem;
  
          .get-the-latest-updates-and-notification-MiE {
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 1.2175;
            margin: 0rem 0rem 4.5rem 0.2rem;
            white-space: nowrap;
          }
          .subscribe-to-our-newsletter-and-get-to-know-about-the-latest-updates-on-our-services-46r {
            color: #95a5a6;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2175;
            margin: 0rem 0rem 5rem 0.2rem;
            max-width: 68rem;
          }
          .auto-group-ymft-XFL {
            align-items: center;
            background-color: #ffd3b0;
            border-radius: 5.3rem;
            box-sizing: border-box;
            display: flex;
            margin-right: 9.8rem;
            padding: 2.1rem 2.5rem 2rem 4.8rem;
            width: calc(100% - 9.8rem);
  
            .entre-your-email-Rbc {
              color: rgba(14, 14, 14, 0.1700000018);
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.1725;
              margin: 0.6rem 20.2rem 0rem 0rem;
              white-space: nowrap;
            }
            .auto-group-p79g-w4A {
              align-items: center;
              background-color: #fab076;
              border: solid 0.2rem #60b9d5;
              border-radius: 2rem;
              box-sizing: border-box;
              color: #ffffff;
              display: flex;
              flex-shrink: 0;
              font-family: Roboto, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              height: 3.4rem;
              justify-content: center;
              line-height: 1.1725;
              margin-bottom: 0.1rem;
              white-space: nowrap;
              width: 17.2rem;
            }
          }
        }
        .every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki {
          color: #000000;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 4rem;
          font-weight: 600;
          line-height: 1.2175;
          margin-bottom: 3.9rem;
          max-width: 52.7rem;
          text-align: center;
  
          .every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-0 {
          }
          .every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-1 {
            color: #ffd3b0;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 600;
            line-height: 1.2175;
          }
          .every-seeker-in-moments-of-vulnerability-discovers-the-profound-strength-in-accepting-help-your-courage-is-truly-inspiring-jki-sub-2 {
          }
        }
      }
    }
    .auto-group-uv9p-ZdG {
      align-items: center;
      background-color: #fab076;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 5.4rem 0.5rem 2.6rem 0.5rem;
      width: 144.4rem;
  
      .auto-group-xykt-s8A {
        flex-shrink: 0;
        height: 15.9rem;
        margin: 0rem 15.433rem 4.4rem 11.167rem;
        position: relative;
        width: calc(100% - 26.6rem);
  
        .footer-mzE {
          align-items: flex-start;
          display: flex;
          height: 15.9rem;
          left: 0;
          position: absolute;
          top: 0;
          width: 114.8667rem;
  
          .auto-group-3mre-VfL {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 1.5rem 22.483rem 0rem 0rem;
            width: 14.9rem;
  
            .auto-group-bvxx-pBp {
              align-items: center;
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              padding: 0rem 1.617rem 1.1rem 0.983rem;
              width: 100%;
  
              .youdoo-Y7p {
                color: #fff7f7;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 3.2rem;
                font-weight: 800;
                line-height: 1.2125;
                margin-bottom: 1.9rem;
                text-align: center;
                white-space: nowrap;
              }
              .follow-us-FY2 {
                color: #ffffff;
                flex-shrink: 0;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.4rem;
                font-weight: 600;
                line-height: 1.2125;
                margin-left: 0.6667rem;
                text-align: center;
                white-space: nowrap;
              }
            }
            .auto-group-kt8a-Nce {
              align-items: flex-end;
              display: flex;
              flex-shrink: 0;
              width: 100%;
  
              .vector-v8N {
                flex-shrink: 0;
                height: 4rem;
                margin-right: 1.5rem;
                object-fit: contain;
                vertical-align: top;
                width: 4rem;
              }
              .vector-3yg {
                flex-shrink: 0;
                height: 4rem;
                margin-right: 1.4rem;
                object-fit: contain;
                vertical-align: top;
                width: 4rem;
              }
              .auto-group-vzej-Ba6 {
                flex-shrink: 0;
                height: 4.2rem;
                margin-bottom: 0.3rem;
                object-fit: contain;
                position: relative;
                vertical-align: top;
                width: 4rem;
              }
            }
          }
          .auto-group-bo5x-tzJ {
            flex-shrink: 0;
            margin: 0.6rem 23.817rem 0rem 0rem;
            width: 12.5rem;
  
            .navigation-PAN {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-bottom: 1rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .contact-us-Vz6 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.2rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .association-2UE {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.2rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .connexion-Ljp {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .auto-group-iupt-g2z {
            flex-shrink: 0;
            margin-right: 17.6667rem;
            width: 10.5rem;
  
            .help-bve {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-bottom: 1.6rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .faq-L7Y {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.2rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .term-of-use-4JS {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              margin-bottom: 1.2rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .privacy-policy-yRQ {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.2125;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
          .auto-group-u1xi-71p {
            flex-shrink: 0;
            margin-top: 0.6rem;
            width: 13rem;
  
            .contact-us-qTc {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2.4rem;
              font-weight: 600;
              line-height: 1.2125;
              margin-bottom: 0.8rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .email-adress--Z8i {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              margin-bottom: 3.6rem;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
            .phone--sfC {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.2125;
              text-align: center;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
        .youdoogmailcom-ook {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 101.9rem;
          line-height: 1.2125;
          position: absolute;
          text-align: center;
          top: 7rem;
          white-space: nowrap;
          width: 14.9rem;
        }
        .item-216-22-66-88-77-JVc {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          height: 2rem;
          left: 101.9rem;
          line-height: 1.2125;
          position: absolute;
          text-align: center;
          top: 12.4rem;
          white-space: nowrap;
          width: 13.5rem;
        }
      }
      .line-2-nfg {
        background-color: #d9d9d9;
        flex-shrink: 0;
        height: 0.1rem;
        margin: 0rem 3.5rem 1rem 0rem;
        width: 139.9rem;
      }
      .copyright-2024-all-rights-reserved-K9p {
        align-items: baseline;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 1.2125;
        margin-left: 51.1rem;
        text-align: center;
        white-space: nowrap;
  
        .copyright-2024-all-rights-reserved-K9p-sub-0 {
          color: #fff7f7;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .copyright-2024-all-rights-reserved-K9p-sub-1 {
        }
      }
    }
  }