.home-1-jeW {
    background-color: #ffffff;
    height: 536.5rem;
    overflow: hidden;
    position: relative;
    width: 100%;
  
    .rectangle-20-JLE {
      background-color: rgba(96, 185, 213, 0.25);
      border-radius: 5.3rem;
      height: 7.6rem;
      left: 12.2rem;
      position: absolute;
      top: 6.4rem;
      width: 100.8rem;
    }
    .rectangle-11-1nN {
      background-color: #44a5c3;
      border: solid 0 #60b9d5;
      border-radius: 2.6rem;
      box-sizing: border-box;
      height: 3.4rem;
      left: 122rem;
      position: absolute;
      top: 8.6rem;
      width: 13.3rem;
    }
    .rectangle-20-u74 {
      background-color: #e1f2f8;
      border-radius: 5.3rem;
      height: 397.9rem;
      left: 0;
      position: absolute;
      top: 158rem;
      width: 154rem;
    }
    .rectangle-15-dHx {
      background-color: rgba(96, 185, 213, 0.1899999976);
      border-radius: 5.3rem;
      height: 113.9rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 154rem;
    }
    .rectangle-16-A2z {
      background-color: #caf0fd;
      border-radius: 5.3rem;
      height: 7.6rem;
      left: 9.9rem;
      position: absolute;
      top: 483rem;
      width: 62.1rem;
    }
    .rectangle-17-6BY {
      background-color: #60b9d5;
      border: solid 0.2rem #60b9d5;
      border-radius: 2rem;
      box-sizing: border-box;
      height: 3.4rem;
      left: 52.3rem;
      position: absolute;
      top: 485.1rem;
      width: 17.2rem;
    }
    .group-31-ore {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 253.3rem;
      left: 0;
      position: absolute;
      top: 96.8rem;
      width: 207.8rem;
  
      .auto-group-qxti-WWA {
        align-items: center;
        background-image: url('/api/prod-us-east-2-first-cluster/projects/TQ6pFHmXuwKwJ5A4oNxRSH/files/vector/737955e442aefaedc03d6b8bc8cb48d8019f70c20ca3967547877423e201657887e9fc59d12ab5a3a28c5c3eaabd40e9d7db9c4236650093ea7f165963566ba7?hash=d798c55fc31293094e163a4240c1dd0112d95b884323dc1f9da868558ccc1e23');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 11.9rem 8.7rem 0rem;
        padding: 13.5rem 42.2rem 15.4rem 45.5rem;
        width: 195.9rem;
  
        .our-values-aW2 {
          align-items: baseline;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Sen, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 700;
          letter-spacing: -0.5rem;
          line-height: 1.2025;
          margin: 0rem 80.5rem 7.8rem 0rem;
          white-space: nowrap;
  
          .our-values-aW2-sub-0 {
          }
          .our-values-aW2-sub-1 {
            color: #1e7692;
            font-family: Sen, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 700;
            letter-spacing: -0.5rem;
            line-height: 1.2025;
          }
        }
        .auto-group-r8tw-HSN {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin: 0rem 23.537rem 4.7rem 0rem;
  
          .item-01-ofc {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 7.2rem;
            font-weight: 700;
            letter-spacing: -0.5rem;
            line-height: 1.2025;
            margin-right: 30.6311rem;
            white-space: nowrap;
          }
          .item-02-W4E {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 7.2rem;
            font-weight: 700;
            letter-spacing: -0.5rem;
            line-height: 1.2025;
            margin-right: 30.7317rem;
            white-space: nowrap;
          }
          .item-03-zzz {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 7.2rem;
            font-weight: 700;
            letter-spacing: -0.5rem;
            line-height: 1.2025;
            white-space: nowrap;
          }
        }
        .auto-group-h3ka-vdk {
          align-items: flex-start;
          display: flex;
          flex-shrink: 0;
          margin-right: 19.1723rem;
  
          .where-actions-echo-louder-than-words-sJ6 {
            color: #1e7692;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin-right: 6.6966rem;
            max-width: 31.2rem;
          }
          .make-it-simple-not-stressful-Anz {
            color: #1e7692;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin: 0.05rem 9.731rem 0rem 0rem;
            white-space: nowrap;
          }
          .be-human-4Na {
            color: #1e7692;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 800;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin-top: 0.0502rem;
            white-space: nowrap;
          }
        }
        .auto-group-qavc-n3g {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          margin-left: 1.5rem;
  
          .we-uphold-the-highest-standards-of-integrity-in-all-our-actions-KZQ {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            margin-right: 7.4rem;
            max-width: 30.3rem;
          }
          .we-make-everything-simple-clearly-and-accessible-to-everyone-RMY {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            margin-right: 7.8rem;
            max-width: 30.1rem;
          }
          .we-do-the-right-things-with-love-and-sincerity-to-create-sustainability-XvN {
            color: #000000;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            max-width: 31.1rem;
          }
        }
      }
      .for-donors-bfL {
        align-items: baseline;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 9.6rem;
        font-weight: 600;
        line-height: 1.2190000216;
        margin: 0rem 73.9rem 5.3rem 0rem;
        white-space: nowrap;
  
        .for-donors-bfL-sub-0 {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .for-donors-bfL-sub-1 {
          color: #60b9d5;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 600;
          line-height: 1.2175;
        }
        .for-donors-bfL-sub-2 {
          color: #60b9d5;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 9.6rem;
          font-weight: 600;
          line-height: 1.2175;
        }
      }
      .auto-group-vpxr-kq4 {
        flex-shrink: 0;
        height: 68.8313rem;
        margin: 0rem 40rem 15.469rem 45rem;
        position: relative;
        width: calc(100% - 85rem);
  
        .we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-sPt {
          color: rgba(14, 14, 14, 0.3100000024);
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 600;
          height: 16rem;
          left: 0;
          line-height: 0.8888888889;
          position: absolute;
          top: 3.3rem;
          width: 57.1rem;
        }
        .charity-cuate-5kr {
          height: 68.8313rem;
          left: 52.9rem;
          object-fit: contain;
          position: absolute;
          top: 0;
          vertical-align: top;
          width: 69.9rem;
        }
        .rectangle-5-bUJ {
          background: linear-gradient(271.75deg, #60bad6 100%, #60bad6 200%);
          border-radius: 1.2rem;
          height: 6rem;
          left: 10.4rem;
          position: absolute;
          top: 61.6rem;
          width: 34.3rem;
        }
        .become-a-donor--UHC {
          color: #ffffff;
          cursor: pointer;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 2.3042rem;
          font-weight: 600;
          height: 2.9rem;
          left: 16.9rem;
          line-height: 1.2175;
          position: absolute;
          text-align: right;
          top: 63rem;
          white-space: nowrap;
          width: 21.3rem;
        }
      }
      .auto-group-geyu-9u8 {
        align-items: center;
        background-image: url('/api/prod-us-east-2-first-cluster/projects/TQ6pFHmXuwKwJ5A4oNxRSH/files/vector/8dc316fa9de6bb672edb5441f8c83d34bf98624c7237de9e29cac4f6573bfdf20a9f5d1b75d410748ea23004ebd8cdc8a36166a36f0c6a45b4748b1ea0ff3ecd?hash=3ead81f5d3088481d63ac39414e69328a945524e0a38d7c904589683473abc84');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 3.8rem;
        padding: 9.3rem 47.65rem 26.4rem 45.05rem;
        width: 204rem;
  
        .why-choose-us--T98 {
          align-items: baseline;
          color: #000000;
          display: flex;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 6.4rem;
          font-weight: 600;
          line-height: 1.2175;
          margin: 0rem 8.9rem 11.4rem 0rem;
          white-space: nowrap;
  
          .why-choose-us--T98-sub-0 {
            color: #000000;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 1.2175;
          }
          .why-choose-us--T98-sub-1 {
            color: #1d7691;
            font-family: Montserrat, 'Source Sans Pro';
            font-size: 6.4rem;
            font-weight: 600;
            line-height: 1.2175;
          }
          .why-choose-us--T98-sub-2 {
          }
        }
        .isnt-our-mojo-quite-the-charmer-9w4 {
          color: #000000;
          flex-shrink: 0;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          font-size: 10rem;
          font-weight: 600;
          line-height: 1.02;
          max-width: 111.3rem;
          text-align: center;
        }
      }
    }
    .charity-rafiki-SQN {
      height: 52.0839rem;
      left: 72rem;
      object-fit: contain;
      position: absolute;
      top: 31.9rem;
      vertical-align: top;
      width: 69.9rem;
    }
    .we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-ZUz {
      color: rgba(14, 14, 14, 0.3100000024);
      font-family: Plus Jakarta Sans, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 600;
      height: 9.6rem;
      left: 11.5rem;
      line-height: 1.6;
      position: absolute;
      top: 55.5886rem;
      width: 62rem;
    }
    .our-donors-design-a-future-where-everyone-can-thrive-9TC {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 6rem;
      font-weight: 600;
      height: 22rem;
      left: 9.2rem;
      line-height: 1.2189999898;
      position: absolute;
      top: 32.4rem;
      width: 76rem;
  
      .our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-0 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-1 {
        color: #60b9d5;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-2 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 4rem;
      font-weight: 600;
      height: 24.4rem;
      left: 85.5rem;
      line-height: 1.218999958;
      position: absolute;
      text-align: center;
      top: 457.4rem;
      width: 53.1rem;
  
      .together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-0 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-1 {
        color: #60b9d5;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-2 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .connect-with-us-uuY {
      align-items: baseline;
      color: #000000;
      display: flex;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      height: 7.8rem;
      left: 10.1rem;
      line-height: 1.2175;
      position: absolute;
      top: 448.8rem;
      white-space: nowrap;
      width: 65.7rem;
  
      .connect-with-us-uuY-sub-0 {
      }
      .connect-with-us-uuY-sub-1 {
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
      .connect-with-us-uuY-sub-2 {
        color: #1d7691;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .get-the-latest-updates-and-notification-RFc {
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 3.6rem;
      font-weight: 600;
      height: 4.4rem;
      left: 10.1rem;
      line-height: 1.2175;
      position: absolute;
      top: 463.2rem;
      white-space: nowrap;
      width: 71.7rem;
    }
    .subscribe-to-our-newsletter-and-get-to-know-about-the-latest-updates-on-our-services-gxE {
      color: #95a5a6;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 600;
      height: 5.9rem;
      left: 10.1rem;
      line-height: 1.2175;
      position: absolute;
      top: 472.1rem;
      width: 68rem;
    }
    .our-partners-AsQ {
      align-items: baseline;
      color: #000000;
      display: flex;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 6.4rem;
      font-weight: 600;
      height: 7.8rem;
      left: 47.3rem;
      line-height: 1.2175;
      position: absolute;
      top: 355.1rem;
      white-space: nowrap;
      width: 52.4rem;
  
      .our-partners-AsQ-sub-0 {
      }
      .our-partners-AsQ-sub-1 {
        color: #60b9d5;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 6.4rem;
        font-weight: 600;
        line-height: 1.2175;
      }
    }
    .contact-us-MBC {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 123.8rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.3rem;
      white-space: nowrap;
      width: 9.9rem;
    }
    .en-4LW {
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 115rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.3rem;
      white-space: nowrap;
      width: 2.6rem;
    }
    .ep-arrow-up-BAE {
      cursor: pointer;
      height: 4.7rem;
      left: 138.3rem;
      object-fit: contain;
      position: absolute;
      top: 44.3rem;
      vertical-align: top;
      width: 3.6rem;
    }
    .ep-arrow-up-JVk {
      height: 0.5746rem;
      left: 118.2916rem;
      object-fit: contain;
      position: absolute;
      top: 9.9682rem;
      vertical-align: top;
      width: 1.0168rem;
    }
    .how-it-works-RqG {
      color: rgba(14, 14, 14, 0.4199999869);
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 79.8rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.2rem;
      white-space: nowrap;
      width: 12rem;
    }
    .log-in-8jg {
      color: rgba(14, 14, 14, 0.4199999869);
      cursor: pointer;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 100.9rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.2rem;
      white-space: nowrap;
      width: 5.6rem;
    }
    .search-dwL {
      color: rgba(14, 14, 14, 0.4199999869);
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 19rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.3rem;
      white-space: nowrap;
      width: 6.3rem;
    }
    .entre-your-email-kFG {
      color: rgba(14, 14, 14, 0.1700000018);
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 500;
      height: 2.9rem;
      left: 14.7rem;
      line-height: 1.1725;
      position: absolute;
      top: 485.7rem;
      white-space: nowrap;
      width: 17.4rem;
    }
    .for-partners-ebY {
      color: rgba(14, 14, 14, 0.3199999928);
      cursor: pointer;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 33.9rem;
      line-height: 1.1725;
      position: absolute;
      top: 9.3rem;
      white-space: nowrap;
      width: 11.2rem;
    }
    .youdoo-kPg {
      color: #60b9d5;
      font-family: Inter, 'Source Sans Pro';
      font-size: 3.2rem;
      font-weight: 800;
      height: 3.9rem;
      left: 57.2rem;
      line-height: 1.2125;
      position: absolute;
      text-align: center;
      top: 8.4rem;
      white-space: nowrap;
      width: 12.3rem;
    }
    .subscribe-TJ6 {
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 500;
      height: 2.4rem;
      left: 56.2rem;
      line-height: 1.1725;
      position: absolute;
      top: 485.7rem;
      white-space: nowrap;
      width: 9rem;
    }
    .rectangle-74-BE6 {
      background-color: #60b9d5;
      height: 32.4rem;
      left: 0;
      position: absolute;
      top: 504.1rem;
      width: 144rem;
    }
    .footer-77k {
      align-items: flex-start;
      display: flex;
      height: 15.9rem;
      left: 11.6667rem;
      position: absolute;
      top: 509.5rem;
      width: 114.8667rem;
  
      .auto-group-sjsn-Pb4 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.5rem 22.483rem 0rem 0rem;
        width: 14.9rem;
  
        .auto-group-2j86-JT8 {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          padding: 0rem 1.617rem 1.1rem 0.983rem;
          width: 100%;
  
          .youdoo-bx2 {
            color: #fff7f7;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 3.2rem;
            font-weight: 800;
            line-height: 1.2125;
            margin-bottom: 1.9rem;
            text-align: center;
            white-space: nowrap;
          }
          .follow-us-8BG {
            color: #ffffff;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.2125;
            margin-left: 0.6666rem;
            text-align: center;
            white-space: nowrap;
          }
        }
        .auto-group-npyc-FFt {
          align-items: flex-end;
          display: flex;
          flex-shrink: 0;
          width: 100%;
  
          .vector-CB8 {
            flex-shrink: 0;
            height: 4rem;
            margin-right: 1.5rem;
            object-fit: contain;
            vertical-align: top;
            width: 4rem;
          }
          .vector-XUJ {
            flex-shrink: 0;
            height: 4rem;
            margin-right: 1.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 4rem;
          }
          .auto-group-rac6-4UE {
            flex-shrink: 0;
            height: 4.2rem;
            margin-bottom: 0.3rem;
            object-fit: contain;
            position: relative;
            vertical-align: top;
            width: 4rem;
          }
        }
      }
      .auto-group-eavz-z6z {
        flex-shrink: 0;
        margin: 0.6rem 23.817rem 0rem 0rem;
        width: 12.5rem;
  
        .navigation-W5L {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          margin-bottom: 1rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .contact-us-Ri6 {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .association-YXp {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .connexion-roQ {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
      .auto-group-euwg-bW6 {
        flex-shrink: 0;
        margin-right: 17.6666rem;
        width: 10.5rem;
  
        .help-jMQ {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          margin-bottom: 1.6rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .faq-ToC {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .term-of-use-PRx {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          margin-bottom: 1.2rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .privacy-policy-vAz {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
      .auto-group-bbmq-TAv {
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 13rem;
  
        .contact-us-mxJ {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          margin-bottom: 0.8rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .email-adress--JxE {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2125;
          margin-bottom: 3.6rem;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
        .phone--dzW {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2125;
          text-align: center;
          white-space: nowrap;
          width: 100%;
        }
      }
    }
    .youdoogmailcom-mav {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      height: 2rem;
      left: 113.5667rem;
      line-height: 1.2125;
      position: absolute;
      text-align: center;
      top: 516.5rem;
      white-space: nowrap;
      width: 14.9rem;
    }
    .item-216-22-66-88-77-fgJ {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      height: 2rem;
      left: 113.5667rem;
      line-height: 1.2125;
      position: absolute;
      text-align: center;
      top: 521.9rem;
      white-space: nowrap;
      width: 13.5rem;
    }
    .copyright-2024-all-rights-reserved-x9c {
      align-items: baseline;
      color: #000000;
      display: flex;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.4rem;
      font-weight: 600;
      height: 3rem;
      left: 83.3rem;
      line-height: 1.2125;
      position: absolute;
      text-align: center;
      top: 530.9rem;
      white-space: nowrap;
      width: 28.9rem;
  
      .copyright-2024-all-rights-reserved-x9c-sub-0 {
        color: #fff7f7;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .copyright-2024-all-rights-reserved-x9c-sub-1 {
      }
    }
    .line-1-p5L {
      background-color: #d9d9d9;
      height: 0.1rem;
      left: 0.5rem;
      position: absolute;
      top: 529.8rem;
      width: 139.9rem;
    }
    .group-3465059-LZU {
      height: 49.9rem;
      left: 9.3rem;
      position: absolute;
      top: 378.8rem;
      width: 412.95rem;
  
      .group-36-UQn {
        height: 49.9rem;
        left: 95.25rem;
        position: absolute;
        top: 0;
        width: 317.7rem;
  
        .group-32-1fc {
          height: 49rem;
          left: 0;
          position: absolute;
          top: 0.9rem;
          width: 182.8rem;
  
          .rectangle-57-7Tk {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 35.55rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .rectangle-59-3MQ {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 77.45rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .rectangle-58-NPg {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 119.45rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .save-the-children-hwk {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 41.4rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 24.5rem;
            white-space: nowrap;
            width: 27.6rem;
          }
          .action-against-hunger-CNi {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 80.45rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 22.8rem;
            white-space: nowrap;
            width: 35.5rem;
          }
          .no-kid-hungry-Hf4 {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 125.2rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 22.8rem;
            white-space: nowrap;
            width: 23rem;
          }
          .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-au4 {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 0;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 32.5rem;
            white-space: nowrap;
            width: 111.8rem;
          }
          .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-etv {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 53.45rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 33.5rem;
            white-space: nowrap;
            width: 89.7rem;
          }
          .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-itn {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 90.6rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 33.5rem;
            white-space: nowrap;
            width: 92.2rem;
          }
          .image-1-PEE {
            border-radius: 1.2rem;
            height: 18.2rem;
            left: 46.15rem;
            object-fit: cover;
            position: absolute;
            top: 3.4rem;
            vertical-align: top;
            width: 18.2rem;
          }
          .image-3-gz2 {
            border-radius: 1.2rem;
            height: 13.3rem;
            left: 125.05rem;
            object-fit: cover;
            position: absolute;
            top: 4.9rem;
            vertical-align: top;
            width: 28.2rem;
          }
          .image-4-DUA {
            height: 13.8rem;
            left: 85.45rem;
            object-fit: cover;
            position: absolute;
            top: 4.4rem;
            vertical-align: top;
            width: 22.9rem;
          }
        }
        .group-33-MKU {
          height: 49rem;
          left: 134.9rem;
          position: absolute;
          top: 0;
          width: 182.8rem;
  
          .rectangle-57-s2v {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 35.55rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .rectangle-59-nva {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 77.45rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .rectangle-58-XdG {
            background-color: #60b9d5;
            border-radius: 1.6rem;
            height: 49rem;
            left: 119.45rem;
            position: absolute;
            top: 0;
            width: 39.3rem;
          }
          .save-the-children-sBL {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 41.4rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 24.5rem;
            white-space: nowrap;
            width: 27.6rem;
          }
          .action-against-hunger-Ndt {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 80.45rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 22.8rem;
            white-space: nowrap;
            width: 35.5rem;
          }
          .no-kid-hungry-52W {
            color: #2b2b39;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            height: 4.4rem;
            left: 125.2rem;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 22.8rem;
            white-space: nowrap;
            width: 23rem;
          }
          .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-Ape {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 0;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 32.5rem;
            white-space: nowrap;
            width: 111.8rem;
          }
          .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-SGN {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 53.45rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 33.5rem;
            white-space: nowrap;
            width: 89.7rem;
          }
          .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-WX8 {
            color: #5f5f75;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.2rem;
            left: 90.6rem;
            line-height: 1.2025;
            position: absolute;
            text-align: center;
            top: 33.5rem;
            white-space: nowrap;
            width: 92.2rem;
          }
          .image-1-mxr {
            border-radius: 1.2rem;
            height: 18.2rem;
            left: 46.15rem;
            object-fit: cover;
            position: absolute;
            top: 3.4rem;
            vertical-align: top;
            width: 18.2rem;
          }
          .image-3-gK8 {
            border-radius: 1.2rem;
            height: 13.3rem;
            left: 125.05rem;
            object-fit: cover;
            position: absolute;
            top: 4.9rem;
            vertical-align: top;
            width: 28.2rem;
          }
          .image-4-QF8 {
            height: 13.8rem;
            left: 85.45rem;
            object-fit: cover;
            position: absolute;
            top: 4.4rem;
            vertical-align: top;
            width: 22.9rem;
          }
        }
      }
      .group-34-vjG {
        align-items: center;
        display: flex;
        height: 49rem;
        left: 0;
        position: absolute;
        top: 0.9rem;
        width: 123.2rem;
  
        .auto-group-nxnj-Shc {
          align-items: center;
          background-color: #60b9d5;
          border-radius: 1.6rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 2.6rem;
          padding: 3.5rem 4.15rem 7.8rem 5.55rem;
          width: 39.3rem;
  
          .auto-group-vvxl-XUA {
            background-color: #ffffff;
            border-radius: 1.2rem;
            flex-shrink: 0;
            margin: 0rem 6.45rem 2.8rem 4.95rem;
            width: calc(100% - 11.4rem);
  
            .image-1-3SW {
              border-radius: 1.2rem;
              height: 18.2rem;
              object-fit: cover;
              vertical-align: top;
              width: 18.2rem;
            }
          }
          .unicef-EfQ {
            color: #2b2b39;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin: 0rem 1.4rem 3.6rem 0rem;
            text-align: center;
            white-space: nowrap;
          }
          .we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-Kwk {
            color: #5f5f75;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            max-width: 29.6rem;
            text-align: center;
          }
        }
        .auto-group-qra6-PAv {
          align-items: center;
          background-color: #60b9d5;
          border-radius: 1.6rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          margin-right: 2.7rem;
          padding: 3.4rem 5.25rem 6.8rem 7.65rem;
          width: 39.3rem;
  
          .image-2-HGJ {
            flex-shrink: 0;
            height: 18.4rem;
            margin: 0rem 0.5rem 1rem 0rem;
            object-fit: cover;
            vertical-align: top;
            width: 18.4rem;
          }
          .tunisian-red-crescent-pQe {
            color: #2b2b39;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin: 0rem 0.2rem 2rem 0rem;
            max-width: 19.9rem;
            text-align: center;
          }
          .our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-WoG {
            color: #5f5f75;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            max-width: 26.4rem;
            text-align: center;
          }
        }
        .auto-group-hvsy-PcA {
          align-items: center;
          background-color: #60b9d5;
          border-radius: 1.6rem;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;
          padding: 3.5rem 2.45rem 6.8rem 2.45rem;
          width: 39.3rem;
  
          .image-3-Vv6 {
            flex-shrink: 0;
            height: 19.2rem;
            margin-bottom: 0.1rem;
            object-fit: cover;
            vertical-align: top;
            width: 18.9rem;
          }
          .world-food-programme-pxN {
            color: #2b2b39;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: -0.2rem;
            line-height: 1.2025;
            margin: 0rem 4.8rem 2rem 0rem;
            max-width: 18.7rem;
            text-align: center;
          }
          .we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-vVc {
            color: #5f5f75;
            flex-shrink: 0;
            font-family: Sen, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.2025;
            margin-right: 4.8rem;
            max-width: 29.6rem;
            text-align: center;
          }
        }
      }
    }
  }