<div class="home-1-jeW" id="1:2">
    <div class="rectangle-20-JLE" id="77:205"></div>
    <div class="rectangle-11-1nN" id="77:206"></div>
    <div class="rectangle-20-u74" id="79:2354"></div>
    <div class="rectangle-15-dHx" id="1:24"></div>
    <div class="rectangle-16-A2z" id="77:208"></div>
    <div class="rectangle-17-6BY" id="77:217"></div>
    <div class="group-31-ore" id="79:1945">
    <div class="auto-group-qxti-WWA" id="VEDjbUuJXwt86SXH2mQXti">
    <p class="our-values-aW2" id="79:1947">
    <span class="our-values-aW2-sub-0">Our </span>
    <span class="our-values-aW2-sub-1">Values</span>
    </p>
    <div class="auto-group-r8tw-HSN" id="VEDjuyNVXpTfp6NhyZR8tW">
    <p class="item-01-ofc" id="79:1948">01</p>
    <p class="item-02-W4E" id="79:1955">02</p>
    <p class="item-03-zzz" id="79:1956">03</p>
    </div>
    <div class="auto-group-h3ka-vdk" id="VEDk4JTwuhyw9NuLHyH3ka">
    <p class="where-actions-echo-louder-than-words-sJ6" id="79:1949">where actions echo louder than words.</p>
    <p class="make-it-simple-not-stressful-Anz" id="79:1953">Make it simple, not stressful.</p>
    <p class="be-human-4Na" id="79:1954">Be human.</p>
    </div>
    <div class="auto-group-qavc-n3g" id="VEDkAt7KKxas1zacDxQaVc">
    <p class="we-uphold-the-highest-standards-of-integrity-in-all-our-actions-KZQ" id="79:1950">We uphold the highest standards of integrity in all our actions.</p>
    <p class="we-make-everything-simple-clearly-and-accessible-to-everyone-RMY" id="79:1951">We make everything simple, clearly and accessible to everyone.</p>
    <p class="we-do-the-right-things-with-love-and-sincerity-to-create-sustainability-XvN" id="79:1952">We do the right things with love and sincerity to create sustainability.</p>
    </div>
    </div>
    <p class="for-donors-bfL" id="86:2376">
    <span class="for-donors-bfL-sub-0">For </span>
    <span class="for-donors-bfL-sub-1">D</span>
    <span class="for-donors-bfL-sub-2">onors</span>
    </p>
    <div class="auto-group-vpxr-kq4" id="VEDkTxTCW2hoedMzUVvPxr">
    <p class="we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-sPt" id="86:5019">We believe in the power of collective impact. Each donation, plays a vital role in building a community of change. Thank you for being part of our story.</p>
    <img class="charity-cuate-5kr" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="86:3558"/>
    <div class="rectangle-5-bUJ" id="86:5022"></div>
    <p class="become-a-donor--UHC" id="86:5023">Become a Donor !</p>
    </div>
    <div class="auto-group-geyu-9u8" id="VEDkiXsFALNGUsnb2igEyU">
    <p class="why-choose-us--T98" id="86:5025">
    <span class="why-choose-us--T98-sub-0">WHY CHOOSE </span>
    <span class="why-choose-us--T98-sub-1">US </span>
    <span class="why-choose-us--T98-sub-2">?</span>
    </p>
    <p class="isnt-our-mojo-quite-the-charmer-9w4" id="86:5026">Isn&#39;t our mojo quite the charmer?</p>
    </div>
    </div>
    <img class="charity-rafiki-SQN" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="77:225"/>
    <p class="we-believe-in-the-power-of-collective-impact-each-donation-plays-a-vital-role-in-building-a-community-of-change-thank-you-for-being-part-of-our-story-ZUz" id="77:224">We believe in the power of collective impact. Each donation, plays a vital role in building a community of change. Thank you for being part of our story.</p>
    <p class="our-donors-design-a-future-where-everyone-can-thrive-9TC" id="77:222">
    <span class="our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-0">Our </span>
    <span class="our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-1">donors </span>
    <span class="our-donors-design-a-future-where-everyone-can-thrive-9TC-sub-2">
    design
    
    <br/>
    a future where everyone can thrive.
    
    </span>
    </p>
    <p class="together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi" id="99:5163">
    <span class="together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-0">&#34;Together, we are not just </span>
    <span class="together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-1">donors</span>
    <span class="together-we-are-not-just-donors-we-are-change-makers-join-us-in-making-a-positive-impact-on-the-world-Bgi-sub-2">
    , we are change-makers. Join us in making a positive impact on the world.&#34;
    
    <br/>
    </span>
    </p>
    <p class="connect-with-us-uuY" id="96:5159">
    <span class="connect-with-us-uuY-sub-0">CONNECT WITH</span>
    <span class="connect-with-us-uuY-sub-1"></span>
    <span class="connect-with-us-uuY-sub-2">US </span>
    </p>
    <p class="get-the-latest-updates-and-notification-RFc" id="99:5161">Get the latest updates and notification</p>
    <p class="subscribe-to-our-newsletter-and-get-to-know-about-the-latest-updates-on-our-services-gxE" id="99:5162">Subscribe to our newsletter and get to know about the latest updates on our services</p>
    <p class="our-partners-AsQ" id="86:5027">
    <span class="our-partners-AsQ-sub-0">OUR </span>
    <span class="our-partners-AsQ-sub-1">PARTNERS</span>
    </p>
    <p class="contact-us-MBC" id="77:216">Contact Us</p>
    <p class="en-4LW" id="77:215">EN</p>
    <img class="ep-arrow-up-BAE" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="77:220"/>
    <img class="ep-arrow-up-JVk" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="77:218"/>
    <p class="how-it-works-RqG" id="77:214">How It Works</p>
    <p class="log-in-8jg" id="77:213">Log In</p>
    <p class="search-dwL" id="77:212">Search</p>
    <p class="entre-your-email-kFG" id="77:211">Entre your email</p>
    <p class="for-partners-ebY" id="77:210">For Partners</p>
    <p class="youdoo-kPg" id="77:209">YouDoo</p>
    <p class="subscribe-TJ6" id="77:223">Subscribe</p>
    <div class="rectangle-74-BE6" id="89:5079"></div>
    <div class="footer-77k" id="86:5056">
    <div class="auto-group-sjsn-Pb4" id="VEDmYRf7LC7neGKgrasjSN">
    <div class="auto-group-2j86-JT8" id="VEDmvfX46iP44ViJLs2J86">
    <p class="youdoo-bx2" id="86:5061">YouDoo</p>
    <p class="follow-us-8BG" id="86:5062">Follow Us</p>
    </div>
    <div class="auto-group-npyc-FFt" id="VEDmiFi4pLiLeysBnnnpyc">
    <img class="vector-CB8" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="86:5063"/>
    <img class="vector-XUJ" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="86:5064"/>
    <img class="auto-group-rac6-4UE" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="VEDmoRE8QnrfSaUR2XRaC6"/>
    </div>
    </div>
    <div class="auto-group-eavz-z6z" id="VEDn8KrHpxWd8J3yb3EAvz">
    <p class="navigation-W5L" id="86:5058">
    Navigation
    
    <br/>
    </p>
    <p class="contact-us-Ri6" id="86:5067">Contact Us</p>
    <p class="association-YXp" id="86:5071">Association</p>
    <p class="connexion-roQ" id="86:5073">Connexion</p>
    </div>
    <div class="auto-group-euwg-bW6" id="VEDnGjmwVJea3zXRpzeUwg">
    <p class="help-jMQ" id="86:5059">Help</p>
    <p class="faq-ToC" id="86:5068">FAQ</p>
    <p class="term-of-use-PRx" id="86:5072">Term of use</p>
    <p class="privacy-policy-vAz" id="86:5074">Privacy Policy</p>
    </div>
    <div class="auto-group-bbmq-TAv" id="VEDnQV42sys4EPSGgbbbmQ">
    <p class="contact-us-mxJ" id="86:5060">Contact Us</p>
    <p class="email-adress--JxE" id="86:5069">Email Adress :</p>
    <p class="phone--dzW" id="86:5070">Phone :</p>
    </div>
    </div>
    <p class="youdoogmailcom-mav" id="86:5075">youdoogmail.com</p>
    <p class="item-216-22-66-88-77-fgJ" id="86:5076">(216) 22 66 88 77</p>
    <p class="copyright-2024-all-rights-reserved-x9c" id="86:5078">
    <span class="copyright-2024-all-rights-reserved-x9c-sub-0">Copyright © 2024, All rights reserved</span>
    <span class="copyright-2024-all-rights-reserved-x9c-sub-1"></span>
    </p>
    <div class="line-1-p5L" id="86:5077"></div>
    <div class="group-3465059-LZU" id="250:30793">
    <div class="group-36-UQn" id="101:5755">
    <div class="group-32-1fc" id="101:5756">
    <div class="rectangle-57-7Tk" id="101:5757"></div>
    <div class="rectangle-59-3MQ" id="101:5758"></div>
    <div class="rectangle-58-NPg" id="101:5759"></div>
    <p class="save-the-children-hwk" id="101:5760">Save The Children</p>
    <p class="action-against-hunger-CNi" id="101:5761">Action Against Hunger</p>
    <p class="no-kid-hungry-Hf4" id="101:5762">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-au4" id="101:5763">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-etv" id="101:5764">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-itn" id="101:5765">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-PEE" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5766"/>
    <img class="image-3-gz2" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5767"/>
    <img class="image-4-DUA" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5768"/>
    </div>
    <div class="group-33-MKU" id="101:5769">
    <div class="rectangle-57-s2v" id="101:5770"></div>
    <div class="rectangle-59-nva" id="101:5771"></div>
    <div class="rectangle-58-XdG" id="101:5772"></div>
    <p class="save-the-children-sBL" id="101:5773">Save The Children</p>
    <p class="action-against-hunger-Ndt" id="101:5774">Action Against Hunger</p>
    <p class="no-kid-hungry-52W" id="101:5775">No Kid Hungry</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-Ape" id="101:5776">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-SGN" id="101:5777">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-WX8" id="101:5778">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    <img class="image-1-mxr" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5779"/>
    <img class="image-3-gK8" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5780"/>
    <img class="image-4-QF8" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="101:5781"/>
    </div>
    </div>
    <div class="group-34-vjG" id="94:5157">
    <div class="auto-group-nxnj-Shc" id="VEDoSTL7CNpZRe3BNMnxnJ">
    <div class="auto-group-vvxl-XUA" id="VEDoZ2yUcdRVJFiTJLvVXL">
    <img class="image-1-3SW" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="89:5081"/>
    </div>
    <p class="unicef-EfQ" id="86:5032">UNICEF</p>
    <p class="we-help-people-reach-the-business-and-government-leaders-whose-decisions-impact-their-lives-giving-them-the-power-they-deserve-Kwk" id="86:5035">
    We help people reach the business and government leaders whose decisions impact their lives, giving them the power they deserve.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-qra6-PAv" id="VEDog7c1jdiWjM4gmbQRA6">
    <img class="image-2-HGJ" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="91:5086"/>
    <p class="tunisian-red-crescent-pQe" id="86:5033">Tunisian Red Crescent</p>
    <p class="our-staff-provide-advice-for-mobilizing-support-generating-media-interest-and-lobbying-elected-officials-WoG" id="86:5036">
    Our staff provide advice for mobilizing support, generating media interest and lobbying elected officials.
    
    <br/>
    </p>
    </div>
    <div class="auto-group-hvsy-PcA" id="VEDopMsGq4d6UDeVAThvsY">
    <img class="image-3-Vv6" src="/api/prod-us-east-2-first-cluster/projects/TQ6pFHm..." id="91:5088"/>
    <p class="world-food-programme-pxN" id="86:5034">World Food Programme</p>
    <p class="we-have-big-ideas-for-the-future-but-we-need-your-financial-support-to-fuel-new-technological-development-vVc" id="86:5037">
    We have big ideas for the future, but we need your financial support to fuel new technological development.
    
    <br/>
    </p>
    </div>
    </div>
    </div>
    </div>
